@font-face {
  font-family: "Verlag";
  src: url("/assets/fonts/verlag/Verlag-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verlag";
  src: url("/assets/fonts/verlag/Verlag-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Verlag";
  src: url("/assets/fonts/verlag/Verlag-BlackItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Verlag";
  src: url("/assets/fonts/verlag/Verlag-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Verlag";
  src: url("/assets/fonts/verlag/Verlag-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Verlag";
  src: url("/assets/fonts/verlag/Verlag-XLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}




@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-MediumItalic.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-BoldItalic.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-Light.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-LightItalic.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-ExtraLight.otf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TTNorms";
  src: url("/assets/fonts/tt-norms/TTNorms-ExtraLightItalic.otf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

$font-family: "TTNorms", sans-serif;
$font-verlag: "Verlag", sans-serif;

@mixin fontCustom($font-style, $font-weight, $line-height, $font-size) {
  font-family: $font-family;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  font-size: $font-size;
}