<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Jason Duong">
		<title>All Surfaces</title>
	</head>
	<body>
		{% include "../components/header/_header" %}

		<main>
			{% block content %}{% endblock %}
		</main>
		
		{% include "../components/footer/_footer" %}
	</body>
</html>
