<footer class="w-screen flex justify-center bg-[#0C3663] all-surfaces-footer">
	<div class="container">
		<div class="grid grid-cols-12 pb-10 border-b-[1px] border-[#FFFFFF1F]">
			<div class="grid grid-cols-1 md:grid-cols-12 col-span-12 md:col-span-6 mt-48">
				<div class="md:col-span-5 flex flex-col justify-between">
					<div class="">
						<img src="./assets/img/logo/logo-footer.svg" alt="" class="mb-9">
						<p class="text-white mb-4">
							123 Elm Street
							<br>
							Fictionville, FA 12345
						</p>
						<p class="text-white mb-9">
							<a href="tel:1234567890">
								(123) 456-7890
							</a>
						</p>
					</div>
					<div class="flex gap-5">
						<p class="text-white">
							FOLLOW US
						</p>
						<a href="#">
							<img src="./assets/img/icon/facebook.svg" alt="">
						</a>
						<a href="#">
							<img src="./assets/img/icon/instagram.svg" alt="">
						</a>
						<a href="#">
							<img src="./assets/img/icon/twitter.svg" alt="">
						</a>
					</div>
				</div>
				<div class="md:col-span-4">
					<h5 class="text-[#C0BB35] font-bold uppercase mb-4">Brands</h5>
					<ul class="text-[#FFFFFF87]">
						<li class="mb-3">Fringilla Elit</li>
						<li class="mb-3">Tellus Ornare</li>
						<li class="mb-3">Egestas Elit</li>
						<li class="mb-3">Vulputate Fringilla</li>
						<li class="mb-3">Ornare Justo</li>
						<li class="mb-3">Vestibulum Fringilla</li>
					</ul>
				</div>
				<div class="md:col-span-3">
					<h5 class="text-[#C0BB35] font-bold uppercase mb-4">Sitemap</h5>
					<ul class="text-[#FFFFFF87]">
						<li class="mb-3">About Us</li>
						<li class="mb-3">Contact</li>
						<li class="mb-3">Find a Location</li>
					</ul>
				</div>
			</div>
			<div class=" col-span-12 mt-10 md:col-start-7 md:col-span-6 pt-5 md:ps-20">
				<div class="flex justify-between mb-10">
					<div class="flex items-center">
						<img src="./assets/img/icon/navigator-footer.svg" alt="" class="me-2">
						<h2 class="text-white">
							Find a Location
							<span class="font-light">Near you</span>
						</h2>
					</div>
					<img src="./assets/img/icon/arrow-right.svg" alt="">
				</div>
				<div class="bg-[#042A53] p-4 flex items-center mb-5">
					<label for="sZipcode" class="me-5">
						<img src="./assets/img/icon/search.svg" alt="" srcset="" class="h-[30px] w-auto">
					</label>
					<input id="sZipcode" type="text" class="w-2/3 p-2 bg-transparent border-none focus:outline-none text-white" placeholder="Enter zipcode">
					<select class="w-1/3 p-2 text-white bg-[#04203F] focus:outline-none">
						<option value="option1">Cartwright</option>
						<option value="option2">Option 2</option>
						<option value="option3">Option 3</option>
					</select>
				</div>
				<img src="./assets/img/map.png" alt="">
			</div>
		</div>
		<div class="py-8 flex items-center justify-between">
			<p class="font-light text-sm">
				Copyright 2023 All Surfaces
			</p>
            <img src="./assets/img/author.png" alt="" class="h-[60px]">
			<div class="">
				<a href="#" class="font-light text-sm me-5">
					Terms & Services
				</a>
				<a href="#" class="font-light text-sm">
					Privacy Policy
				</a>
			</div>
		</div>
	</div>
</footer>
