<footer class="w-screen bg-[#0C3663]">
    <div class="grid grid-cols-2">
        <div class="">
            123 Elm Street
            Fictionville, FA 12345
        </div>
        <div class=""></div>
    </div>
</footer>