{% set menuItems = ['About Us', 'Our Brand', 'Career'] %}

<header class="bg-transparent p-4 py-12 fixed top-0 left-0 w-screen z-50">
	<div class="container mx-auto flex justify-between items-center">
		<nav class="flex items-center space-x-4 gap-20">
			<img src="./assets/img/logo/all-surfaces-logo.svg" alt="" class="w-auto h-[52px]">
			<div class="flex gap-14">
				{% for menuItem in menuItems %}
					<a href="#" class="text-white uppercase hover:text-[#C0BB35] transition-all">
						{{ menuItem }}
					</a>
				{% endfor %}
			</div>
		</nav>
		<div class="flex items-center gap-10">
			<a href="" class="text-white uppercase hover:text-[#C0BB35] transition-all">
				Contact us
			</a>
			<button class="bg-[#C0BB35] hover:bg-[#b3af4c] text-white font-bold py-2 px-6 -skew-x-[25deg]">
				<div class="flex gap-3 skew-x-[25deg] uppercase text-black font-bold">
                    <img src="./assets/img/icon/navigator.svg" alt="">
					Find a location
				</div>
			</button>
		</div>
	</div>
</header>
